
<div class="m-1">
  <div class="">
    <div class="lista-container">
      <div class="paciente-header">
        <div class="paciente-cell">Lista de pacientes</div>
      </div>
      <div  *ngIf="pacientesFiltrados.length > 0; else noResultados">
        <div *ngFor="let paciente of pacientesFiltrados">
          <app-element-paciente
            [paciente]="paciente">
          </app-element-paciente>

        </div>
      </div>
      <!-- Template para cuando no hay resultados -->
      <ng-template #noResultados>
        <div class="no-resultados">
          No se encontraron coincidencias con la búsqueda
        </div>
      </ng-template>
    </div>
  </div>
</div>

