
<div class="w-100 ">
    <div class="m-1 filtros">
        <div class="title">
            <p><strong>Filtros</strong></p>
        </div>
        <div class="p-1 filter-opt-container">
            <div class="filter-opt">
                <p>Buscar por número</p>
                <input
                [ngModel]="searchTerm"
                (ngModelChange)="onSearchChange($event)"
                type="text"
                class="w-100"
                placeholder="Número de teléfono..."
                >
            </div>
        </div>
    </div>
</div>